<header>
  <h1>
    {{ title }} 
  </h1>
  <p>
    Sponsored by mr.Oppenheimer
  </p>
</header>
<nav>
  <ul>
    <li>
      <div class="cloud">
        <a href='https://youtu.be/dQw4w9WgXcQ?si=QY5DBvtoVcqwpH2t'>Oh that was cruel dude</a>
      </div>
    </li>
    <li>
      <div class="cloud">
        <a href='https://youtu.be/KKO84c6SbfY?si=nE4XdsXDl4zQVioh'>Kenough</a>
      </div>
    </li>
    <li>
      <div class="cloud">
        <a href='https://youtu.be/vXYVfk7agqU?si_0NbD'>Mr Shrek</a>
      </div>
    </li>
  </ul>
  <br>
</nav>
<main>
  <article>
    <div class="main">
      <div class="container">
        <ul class="LiterallyMe">
          <li>
            {{ fullname }}
          </li>
          <li>
            {{ group }}
          </li>
          <li>
            {{ email }}
          </li>
          <li>
            {{ phone }}
          </li>
        </ul>
        <div class="CloudImg">
          <div class="bottom_c"
          ></div>
          <div class="right_c"
          ></div>
          <div class="left_c"
          ></div>
        </div>
        <button (click)="click()"
                class='freddy fazberr'>
          Нажми меня, лапуля!
        </button>
      </div>
      <div class="container2">
        <div class="CloudImg">
          <div class="bottom_c"
          ></div>
          <div class="right_c"
          ></div>
          <div class="left_c"
          ></div>
        </div>
      </div>
      <div class="ans">
        <p>
          <span>{{ count }}</span>
        </p>
      </div>
    </div>
    <div class="container3">
      <div class="CloudImg">
        <div class="bottom_c"
        ></div>
        <div class="right_c"
        ></div>
        <div class="left_c"
        ></div>
      </div>
    </div>
  </article>
  <aside>
    <table class="sigma">
      <tr>
        <th>Ваш рост</th>
        <th>Ваш вес</th>
        <th>Ваша зарплата</th>
      </tr>
      <tr>
        <td>150см ярости</td>
        <td>150кг отчаяния</td>
        <td>без стипендии</td>
      </tr>
    </table>
    <img src="\assets\images\1_4_4.ico"
    class='BarbieMan' >
    <img src="\assets\images\ryan-gosling-blade-runner2049.gif"
    class='RyanSad'>
  </aside>
</main>
<footer>
  <div class="asu">
    <p>
      <span>По техническим вопросам просьба обращаться на почту </span>
      <span class="color">oasu&#64;gubkin.ru</span>
    </p>
  </div>
</footer>